<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container">
            <a class="navbar-brand" href="/">KanbanBoard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
                      </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nbDropDownCentral" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Central de chamados
                        </a>
                        <div class="dropdown-menu" aria-labelledby="nbDropDownCentral">
                            <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#formProtocolo" onclick="formularioDefault()">Criar novo chamado</a>
                            <a class="dropdown-item" href="#" onclick="">Todos os chamados</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="">Listar Pessoas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nbDropDownConta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Conta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="nbDropDownConta">
                            <a class="dropdown-item" href="#" onclick="">Configurações de usuário</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout" onclick="">Sair da sua conta</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
      </nav>
</header>