html, body {
   overflow-x: hidden;
   height: 100%;
   background-color: #f9f8f8;
}

footer, footer a {
    color: white;
}

footer a:hover {
    color: white;
}

.aColuna {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
}

#colunas {
    margin-bottom: 10px;
    height: 100%;
}
